THREAT_API_URL=http://localhost:3000
POLL_INTERVAL_MS=5000
RPC_ENDPOINT=http://localhost:8899
PROGRAM_ID=J7gxnojav3SRfJxHhFGsW2iATBV4zVUsrkcKNzauPqRa
SENTINEL_KEYPAIR_PATH=./sentinel-keypair.json
VAULT_PUBKEY=VAULT_PUBKEY_PLACEHOLDER
